<h3>Nova resposta</h3>

<%= form_for current_user.answers.build(:question_id => @question.id)	do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.hidden_field :question_id %>
	<div class="field">
	  <%= f.text_area :content %>
	</div>
	<div class="actions"><%= f.submit "Adicionar resposta" %></div>
<% end %>