<%= form_for(@question) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :title, "Título (140 caracteres)" %>
		<%= f.text_field :title, :size => 60 %>
	</div>
	<div class="field">
		<%= f.label :content, "Sua pergunta" %>
		<%= render "shared/form_instructions" %>
		<%= f.text_area :content, :cols => 60, :rows => 20 %>
	</div>
	<div class="field">
		<%= f.label :tags, "Tags (informe de 1 a 3 tags)" %>
		<ul id="question_tags"></ul>
	</div>
	<div class="actions">
		<%= f.submit "Enviar pergunta" %>
	</div>
<% end %>
<script>
var tags = <%= raw(@tags) %>;
$(function(){
	$("#question_tags").tagit({
		availableTags: [<%= categories_for_tags_field %>]
	});

  if(tags.length > 0){
    for(x in tags){
      var el = "";
			el  = "<li class=\"tagit-choice\">\n";
			el += tags[x] + "\n";
			el += "<a class=\"close\">x</a>\n";
			el += "<input type=\"hidden\" style=\"display:none;\" value=\""+tags[x]+"\" name=\"question[tags][]\">\n";
			el += "</li>\n";
			$(el).insertBefore($('.tagit-input:first').parent());
    }
  }

});
</script>