<ul class="meta clearfix">
	<li class="alpha">
    <%=avatar(User.find_using_slug(question.user_id))%>
	  Enviada há <%= time_ago_in_words(question.created_at) %> atrás por <%= author_name(question.user_id) %>.</li>
	<li class="view"><%= meta_in_words(question.visualizations.count, {
												:singular => 'visualização', 
												:plural => 'visualizações'}) %></li>
	<li class="res"><%= link_to meta_in_words(get_total_answers(question.answers), {
												:singular => 'resposta', 
												:plural => 'respostas'}), pergunta_path(question) + "#answers" %></li>
	<li class="omega fav"><%= meta_in_words(question.favorites.count, {
												:singular => 'favorito', 
												:plural => 'favoritos'}) %></li>
	<% if params[:action] == "show" and params[:controller] == "questions" %>

    <li class="share"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-text="<%= @question.title %>" data-via="funfando">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
    <li class="share fb">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="20" font="tahoma"></fb:like>
    </li>

	<% end %>
</ul>
<% if signed_in? and current_user.admin? %>
	<div class="actions questions-admin">
		<%= link_to "Editar", editar_pergunta_path(question) %>
		<%= link_to "Excluir", question, :method => :delete,
																:confirm => "Tem certeza?",
																:title => "Delete #{question.title}" %>
    <%= link_to_publish(question) %>
	</div>
<% end %>
