<%= render "layouts/breadcrumb" %>

<% if @questions.empty? %>
	<div class="error" style="margin:24px 0 24px 0;">Não foi encontrara nenhuma pergunta com o termo <em><%= params[:keywords] %></em>. <strong><%= link_to "Que tal perguntar?", new_question_path %></strong></div>
<% else %>
	<%= render 'filters' %>
	<div id="questions-sidebar">
		RSS<br />
		Categorias<br />
		Interações de usuários<br />
		Share is care<br />
	</div>
  <div id="questions-list">
		<% @questions.each do |question| %>
				<%= render question %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
		</div>
	</div>
<% end %>
