<div class="breadcrumb-container">
	<ul class="breadcrumb clearfix">
		<li><%= link_to "home", root_path, :title => "Página inicial" %></li>
		<li class="separator">/</li>
	<li <%if params[:order].nil? and params[:keywords].nil? %>class="active"<% end %>><%= link_to "perguntas", perguntas_path, :title => "Perguntas" %></li>
		<% if not params[:order].nil? %>
		<li class="separator">/</li>
		<li class="active"><%= link_to params[:order].sub("_", " "), perguntas_ordem_path(params[:order]) %></li>
		<% elsif not params[:keywords].nil? %>
		<li class="separator">/</li>
		<li class="active"><%= link_to "busca por " + params[:keywords].downcase, search_path+"?keywords="+params[:keywords] %></li>
		<% end %>
	</ul>
</div>




<% if @questions.empty? %>
	<div class="error" style="margin:24px 0 24px 0;">Não foi encontrara nenhuma pergunta com o termo <em><%= params[:keywords] %></em>. <strong><%= link_to "Que tal perguntar?", new_question_path %></strong></div>
<% else %>
	<%= render 'filters' %>
	<div id="questions-sidebar">
		RSS<br />
		Categorias<br />
		Interações de usuários<br />
		Share is care<br />
	</div>
  <div id="questions-list">
		<% @questions.each do |question| %>
				<%= render question %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
		</div>
	</div>
<% end %>
