<% if @questions.empty? %>
	<div class="error" style="margin:24px 0 24px 0;">Não foi encontrada nenhuma pergunta com o termo <em><%= params[:keywords] %></em>. <strong><%= link_to "Quer ser o primeiro a perguntar?", new_question_path %></strong></div>
<% else %>
	<%= render 'filters' %>
	<div id="questions-sidebar">

    <div class="perguntar box-sidebar">
      <%= link_to "Perguntar!", new_question_path, :class => "j-button" %>
    </div>

    <%= render "shared/categories" %>

    <%= render "shared/tweets" %>

	</div>
  <div id="questions-list">
		<% @questions.each do |question| %>
				<%= render question %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
		</div>
	</div>
<% end %>
