
<div class="breadcrumb-container">
	<ul class="breadcrumb clearfix">
		<li><%= link_to "home", root_path, :title => "Página inicial" %></li>
		<li class="separator">/</li>
		<li class="active"><%= link_to "perguntas", perguntas_path, :title => "Perguntas" %></li>
	</ul>
</div>




<% if @questions.empty? %>
  <p>Nenhuma pergunta encontrada.</p>
<% else %>
  <p class="btn-ask"><%= link_to "Perguntar!", new_question_path %></p>
	<%= render 'filters' %>
	<% @questions.each do |question| %>
  	<div class="user-questions">
  		<%= render question %>
  	</div>
  <% end %>
  <%= will_paginate %>
<% end %>
