

<div class="question">

  <%= render 'favorite_form' if signed_in? %>

  <% unless @question.categories.empty? %>
	<ul class="categories">
	  <% @question.categories.each do |category| %>
	    <li><%= link_to category.name, categoria_path(category) %></li>
	  <% end %>
	</ul>
	<% end %>
  
  <h2 class="question-show"><%= @question.title %></h2>

  <%= render 'info_data', :question => @question %>

	<div class="description">
		<%= sanitize_pre(@question.content).gsub(/\n/, "<br class=\"content-nl\" />") %>


    <div class="box-share">
      <ul class="clearfix">
        <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-text="<%= @question.title %>" data-via="funfando">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
        <li><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" font="tahoma"></fb:like></li>
      </ul>
   </div>

  </div>


  <h3>Perguntas relacionadas</h3>
	<% unless @answers.empty? %>
	  <a name="answers"></a>
		<h3 class="answers"><%=meta_in_words(@answers.count, {:singular => "resposta", :plural => "respostas"})%> <%=link_to "assine o feed das respostas", feed_answers_path(@question, :format => "atom") %></h3>
	  <ul class="question-answers">
	  <% @answers.each do |answer| %>
	    <%= render answer %>
	  <% end %>
	  </ul>
	<% end %>
	

  <div id="answer-form">
	<% if signed_in? %>
		<%= render 'answers/form' %>
	<% else %>
    <p class="info">Você precisa estar logado para responder a esta pergunta.</p>
    <div class="box-form">
      <%= render 'sessions/form' %>
    </div>
	<% end %>
  <a name="answer_form"></a>
  </div>

</div>
