<div class="question">
	<h2><%= @question.title %></h2>

	<%= render 'info_data', :question => @question %>

	<%= render 'favorite_form' if signed_in? %>

	<div class="description">
		<%= @question.content %>
	</div>

	<div id="answer-form">
	<% if signed_in? %>
		<%= render 'answers/form' %>
	<% else %>
		<p>Você precisa estar logado para responder a esta pergunta</p>
		<%= render 'sessions/form' %>
	<% end %>
	</div>

</div>

