

<div class="question">
	
	<% unless @question.categories.empty? %>
	<ul class="categories clearfix">
	  <% @question.categories.each do |category| %>
	    <li><%= link_to category.name, categoria_path(category) %></li>
	  <% end %>
	</ul>
	<% end %>
	
	<h2>
	  <%= render 'favorite_form' if signed_in? %>
	  <%= @question.title %>
	</h2>

	<%= render 'info_data', :question => @question %>

	<div class="description">
		<%= sanitize_pre(@question.content) %>
	</div>
	
	<% unless @answers.empty? %>
	  <a name="answers"></a>
	  <h3>Respostas</h3>
	  <ul class="question-answers">
	  <% @answers.each do |answer| %>
	    <%= render answer %>
	  <% end %>
	  </ul>
	<% end %>
	

	<div id="answer-form">
	<% if signed_in? %>
		<%= render 'answers/form' %>
	<% else %>
		<p>Você precisa estar logado para responder a esta pergunta</p>
		<%= render 'sessions/form' %>
	<% end %>
	</div>

</div>

