<%= form_for(:session, :url => sessions_path) do |f| %>
  <% if @question %>
    <%= f.hidden_field :question_id , { :value => @question.id } %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :value => (params[:session] ? params[:session][:email] : nil) %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>

<p class="member-login"><%= link_to "Esqueceu sua senha?", esqueceu_path %></p>
