<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <% if @user.avatar.exists? then %>
  	<%= image_tag @user.avatar.url(:small) %>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>



  <% if @user.id %>  
    <hr />

    <div class="field">
      <%= f.label :site, "Site pessoal ou blog" %><br />
      <%= f.text_field :site %>
    </div>
  
    <div class="field">
      <%= f.label :github, "Nome de usuário no github" %><br />
      <%= f.text_field :github %>
    </div>

    <div class="field">
      <%= f.label :twitter, "Nome de usuário no twitter" %><br />
      <%= f.text_field :twitter %>
    </div>
  
    <div class="field">
      <%= f.label :cidade, "Cidade, estado, país, planeta, galáxia..." %><br />
      <%= f.text_field :cidade %>
    </div>
  
    <div class="field">
      <%= f.label :bio, "Você em poucas palavras:" %><br />
      <%= f.text_area :bio %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "OK, vai!" %>
  </div>
<% end %>