<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
	</div>

	<% if @user.id %>
		<div class="info" style="margin:0 0 12px 0;text-align:left;">Apenas digite uma nova senha caso deseje alterar sua senha atual.</div>
	<% end %>

  <div class="field">
    <%= f.label :password, "Senha" %><br />
		<%= f.password_field :password, :autocomplete => "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br />
		<%= f.password_field :password_confirmation, :autocomplete => "off" %>
  </div>



  <% if @user.id %>  

		<% if @user.avatar.exists? then %>
		<div id="box-form-avatar">
			<%= image_tag @user.avatar.url(:thumb) %>
			<div class="actions">
				<div class="buttons">
					<%= link_to "Excluir", "#", :class => "lnk-del-img" %> ou 
					<%= link_to "trocar imagem", "#", :id => "btn-change-image" %>
				</div>
				<div class="confirmation" style="display:none">
					Deseja mesmo excluir seu avatar atual?
					<ul class="clearfix">
						<li><%= link_to "sim!", delete_avatar_path(@user), :class => "yes" %></li>
						<li><%= link_to "não, mudei de ideia...", "#", :class => "no" %></li>
					</ul>
				</div>
			</div>
			
			<script>
			$('#btn-change-image').live('click', function(e){
				if($('#avatar-field').length > 0){
					$('#avatar-field').fadeOut(function(){$(this).remove();});
				}else{
					$('<%= escape_javascript(render('users/avatar_field', :f => f, :display => false)) %>').insertAfter($(this).parent());
					$('#avatar-field').fadeIn();
				}
				e.preventDefault();
			});
			$('.lnk-del-img').live('click', function(e){
				$('#box-form-avatar div.actions div.buttons').fadeOut(function(){
					$('#box-form-avatar div.actions div.confirmation').fadeIn();
				});
				e.preventDefault();
			});
			$('#box-form-avatar a.no').live('click', function(e){
				$('#box-form-avatar div.actions div.confirmation').fadeOut(function(){
					$('#box-form-avatar div.actions div.buttons').fadeIn();
				});
				e.preventDefault();
			});
		</script>
		</div>  	  
  <% else %>
  	<%= render "avatar_field", :f => f, :display => true %>
  <% end %>




    <div class="field">
      <%= f.label :site, "Site pessoal ou blog" %><br />
      <%= f.text_field :site %>
    </div>
  
    <div class="field">
      <%= f.label :github, "Nome de usuário no github" %><br />
      <%= f.text_field :github %>
    </div>

    <div class="field">
      <%= f.label :twitter, "Nome de usuário no twitter" %><br />
      <%= f.text_field :twitter %>
    </div>
  
    <div class="field">
      <%= f.label :cidade, "Cidade, estado, país, planeta, galáxia..." %><br />
      <%= f.text_field :cidade %>
    </div>
  
    <div class="field">
      <%= f.label :bio, "Você em poucas palavras:" %><br />
			<%= f.text_area :bio, :rows => 6 %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Vai!" %>
  </div>
<% end %>
