<h2 class="alt">Nova senha</h2>
<div class="box-form" id="password-form">
  <%= form_for(@user, :as => :instructions, :url => instrucoes_path(@user)) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
     <%= f.label :email, "Digite seu e-mail" %><br />
     <%= f.text_field :email %>
   </div>
   <div class="actions">
     <%= f.submit "Solicitar instruções" %>
   </div>
  <% end %>
</div>