<div id="user-sidebar" class="sidebar">
  <p><strong>Name</strong> <%= @user.name %><br />
  <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
  <strong>Perguntas</strong> <%= @user.questions.count %></p>
  <hr />
  <p><strong><%= @user.bio %></strong><br />
  <strong><%= @user.cidade %></strong></p>
  <%= link_to "Site pessoal", valid_url_for(@user.site), :target => "_nil" if not @user.site.blank? %>
  <%= link_to "Twitter", "http://twitter.com/" + @user.twitter, :target => "_nil" if not @user.twitter.blank? %>
  <%= link_to "Github", "http://github.com/" + @user.github, :target => "_nil" if not @user.github.blank? %>
</div>

<%= gravatar_for @user %>

<h2>
  <%= @user.name %>
</h2>


<% unless @user.questions.empty? %>
  <div class="user-questions">
    <%= render @questions %>
  </div>
  <%= will_paginate @questions %>
<% end %>