

<h2>
  <% if @user.avatar.exists? then %>
  	<%= link_to(image_tag(@user.avatar.url(:thumb), :width => 42), @user.avatar.url(:original)) %>
  <% end %> <%= @user.name %>
</h2>

<div id="user-sidebar" class="sidebar">
	
	<p><strong>Name</strong> <%= @user.name %><br />
  <strong>URL</strong>  <%= link_to usuario_path(@user), @user %><br />
  <strong>Perguntas</strong> <%= @user.questions.published.count %><br />
  <strong>Respostas</strong> <%= @user.answers.published.count %><br />
  <strong>Favoritos</strong> <%= @user.favorites.count %>
  <% unless @user.last_login.nil? %>
  <br />
  <strong>Último login</strong> <%= time_ago_in_words(@user.last_login) %> atrás
  <% end %>
  </p>
  <hr />
  <p><strong><%= @user.bio %></strong><br />
  <strong><%= @user.cidade %></strong></p>
  <%= link_to "Site pessoal", valid_url_for(@user.site), :target => "_nil" if not @user.site.blank? %>
  <%= link_to "Twitter", "http://twitter.com/" + @user.twitter, :target => "_nil" if not @user.twitter.blank? %>
  <%= link_to "Github", "http://github.com/" + @user.github, :target => "_nil" if not @user.github.blank? %>
</div>


<% unless @questions.empty? %>
  <h2>Últimas perguntas</h2>
  <div class="user-questions">
    <%= render @questions %>
  </div>
<% end %>