

<h2 class="user">
  <%= avatar(@user, 42) %>
  <%= @user.name %>
  <% unless @user.cidade.blank? %><span><%= @user.cidade %></span><% end %>
</h2>

<div id="user-sidebar" class="sidebar">
	<p class="user-url">
	  <strong>URL no Funfou</strong>  <%= link_to root_url.sub(/\/$/, "") + usuario_path(@user), usuario_path(@user) %>
	  <%= link_to "Site pessoal", valid_url_for(@user.site), :target => "_nil" if not @user.site.blank? %>
    <%= link_to "Twitter", "http://twitter.com/" + @user.twitter, :target => "_nil" if not @user.twitter.blank? %>
    <%= link_to "Github", "http://github.com/" + @user.github, :target => "_nil" if not @user.github.blank? %>
	</p>
	
	
	<p class="user-stats user-info">
		<% unless @user.bio.blank? %>
  	  <span class="round user-bio user-info"><strong><%= @user.bio %></strong></span>
  	<% end %>
	  <%= stats_text(@user) %>
	</p>
	
  <% if @user == current_user %> 

    <% unless @user.authentications.empty? %>
      <div class="authentications clearfix">
        <p><strong>Você pode efetuar login no Funfou utilizando os seguintes serviços:</strong></p>
        <% for authentication in @user.authentications %>
          <div class="authentication">
            <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
            <div class="provider"><%= authentication.provider.titleize %></div>
            <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
          </div>
        <% end %>
      </div>
    <% end %>	

    <% if @user.authentications.length != 5 %>
      <p><strong>Adicionar outro serviço:</strong></p>
      <%= omniauth_providers %>
    <% end %>

  <% end %>
</div>


<% unless @questions.empty? %>
<div class="user-content">
  <h3 class="main">Últimas perguntas</h3>
  <%= render @questions %>
</div>
<% end %>
