<li class="clearfix answer">
  <%= render 'answers/votes', :answer => answer %>
  <div class="answer">
    <div class="content">
      <%= sanitize_pre(answer.content) %>
    </div>
    <div class="info-data clearfix">
      Enviada há <%= time_ago_in_words(answer.created_at) %> atrás por <%= author_name(answer.user_id) %>
      <%=avatar(User.find_using_slug(answer.user_id))%>
    </div>    

    <div class="admin">
    	<% if signed_in? and current_user.admin? %>
    		<%= link_to "Editar", editar_resposta_path(answer) %>
    		<%= link_to "Excluir", answer, :method => :delete,
    														 :confirm => "Tem certeza?",
    												 		 :title => "Delete #{answer.content}" %>
    		<%= link_to_publish(answer) %>
    	<% end %>      
    </div>
  </div>
</li>
