<li class="clearfix answer">
  <a name="answer_<%= answer.id %>"></a>
  <%= render 'answers/votes', :answer => answer %>
  <div class="answer">
    <div class="content">
      <%= raw(auto_link(sanitize_pre(answer.content).gsub(/\n/, "<br class=\"content-nl\" />"))) %>
    </div>
    
    <div class="admin">
    	<% if signed_in? and current_user.admin? %>
    		<%= link_to "Editar", editar_resposta_path(answer) %>
    		<%= link_to "Excluir", answer, :method => :delete,
    														 :confirm => "Tem certeza?",
    												 		 :title => "Delete #{answer.content}" %>
    		<%= link_to_publish(answer) %>
    	<% end %>      
    </div>

    <div class="info-data clearfix">
      Enviada hรก <%= time_ago_in_words(answer.created_at) %> por <%= author_name(answer.user_id) %>
      <%=avatar(User.find_using_slug(answer.user_id), 28)%>
    </div>    
    
    <% unless answer.comments.empty? %>
    <div class="box-comments">
       <ul id="list_comments_<%=@question.id%>_<%=answer.id%>">
       <% answer.comments.each do |comment| %>
        <%= render comment %>
       <% end %>
       </ul>
     </div>
    <% end %>
    
    <% if signed_in? %>
    <%= render "comments/form", :question_id => @question.id, :answer_id => answer.id %>
    <% end %>

  </div>
</li>
