<div id="box-form-answer" class="box-form">
  <%= form_for @answer do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= f.hidden_field :question_id, {:value => @question.id} %>
    <div class="field">
      <%= f.label :content, "Sua resposta" %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
  <% end %>
</div>
