<div id="teaser">
  
  <div id="home-register">
    <p>Tá esperando o que pra fazer parte da comunidade do Funfou?</p>
    <p>Cadastre-se e tenha acesso a todas as funcionalidades do site.</p>
    <%= link_to "Cadastre-se", new_user_path, :class => "j-button" %>
  </div>
  
  <div id="highlight">
    <div class="inner">
      <h1>Tá funfando :-)</h1>
  
      <p>Um site de perguntas e respostas voltado especialmente para programadores e profissionais da área de TI.</p>
    </div>
  </div>
  
  <div id="last-updates" class="clearfix">
    <div id="home-questions" class="list">
      <h2><%= link_to "ver todas", perguntas_path %>Últimas perguntas</h2>
      <% unless @questions.empty? %>
        <ul>
        <% @questions.each do |question| %>
          <li>
            <% unless question.categories.empty? %>
          	  <span class="tags">
          		<% question.categories.each do |category| %>
          			<%= link_to category.name, categoria_path(category) %>
          		<% end %>
              </span>
          	<% end %>
          <%= link_to question.title, pergunta_path(question) %><span>Enviada por <%= link_to first_name(question.user.name), usuario_path(question.user) %> há <%= time_ago_in_words(question.created_at) %> atrás</span></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  
    <div id="home-answers" class="list">
      <h2>Últimas respostas</h2>
      <% unless @answers.empty? %>
        <ul class="answers">
        <% @answers.each do |answer| %>
          <li>
          <% unless answer.question.categories.empty? %>
        	  <span class="tags">
        		<% answer.question.categories.each do |category| %>
        			<%= link_to category.name, categoria_path(category) %>
        		<% end %>
            </span>
        	<% end %>
        	<%= link_to first_name(answer.user.name), usuario_path(answer.user) %> respondeu a pergunta <%= link_to answer.question.title, pergunta_path(answer.question) + "#answer_#{answer.id}" %> há <%= time_ago_in_words(answer.created_at) %> atrás</li>
        <% end %>
        </ul>
      <% end %>        
    </div>
  
    <div id="home-users" class="list">
      <h2>Usuários</h2>
      <% unless @users.empty? %>
        <ul class="users">
          <% @users.each do |user| %>
            <li><%= link_to image_tag(user.avatar.url(:thumb), :height => 60), usuario_path(user), :title => user.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  
</div>