<div id="about">
  <h3>Tá funfando.</h3>

  <p>Como todo projeto de programador, o Funfou nasceu como um hobbie. A ideia era desenvolver em Ruby on Rails um site nos moldes do <%= link_to "Stack Overflow", "http://www.stackoverflow.com" %>, referência na área de TI.</p>
  
  <p>O principal objetivo é oferecer um espaço em português para programadores e profissionais de TI sanarem suas dúvidas e contribuírem com suas experiências.</p>

  <div id="credits">
    <h3>Créditos</h3>

    <p>O Funfou foi totalmente desenvolvido em <%= link_to "Ruby on Rails 3", "http://rubyonrails.org/" %> e uma boa fonte de aprendizado sobre o framework é o site <%= link_to "RailsTutorial", "http://www.railstutorial.org" %>.</p>

    <p>O logo do site utiliza a fonte Bold: <%= link_to "http://www.fontspace.com/diogene/bold", "http://www.fontspace.com/diogene/bold", :tareget => "_blank"%>.</p>

    <p>O ícone da home, no breadcrumb, vem do iconset <%= link_to "Wireframe Mono", "http://www.iconfinder.com/icondetails/42257/16/home_house_icon" %>.</p>

    <p>Os ícones nas informações das perguntas (favoritos, respostas e visualizações) fazem parte do <%= link_to "Gentleface Toolbar Icon Set", "http://gentleface.com/free_icon_set.html" %>.</p>
    
    <p>O ícone do feed/rss no rodapé pode ser encontrado em <%= link_to "http://www.feedicons.com/", "http://www.feedicons.com/" %>.</p>

    <p>O tema da interface, principalmente dos botões, é o tema <%= link_to "Aristo para jQuery UI", "http://taitems.tumblr.com/post/482577430/introducing-aristo-a-jquery-ui-theme" %>.</p>

    <p>Agora os plugins <%= link_to "jQuery", "http://www.jquery.com" %>:</p>

    <p><strong>jQuery snippet</strong><br />
    <%= link_to "http://www.steamdev.com/snippet/", "http://www.steamdev.com/snippet/" %></p>

    <p><strong>Tag-it</strong><br />
    <%= link_to "http://levycarneiro.com/2010/03/tag-it-tag-suggestions-editor-and-autocomplete-in-a-jquery-ui-plugin/", "http://levycarneiro.com/2010/03/tag-it-tag-suggestions-editor-and-autocomplete-in-a-jquery-ui-plugin/" %></p>

    <p><strong>Tweet!</strong><br />
    <%= link_to "http://tweet.seaofclouds.com/", "http://tweet.seaofclouds.com/" %></p>
  </div>
</div>
