<% if signed_in? %>

	<%= render 'questions/filters' %>


	<div id="questions-sidebar">

    <div class="perguntar box-sidebar">
      <%= link_to "Perguntar!", new_question_path, :class => "j-button" %>
    </div>

    <%= render "shared/categories" %>

    <%= render "shared/tweets" %>

  </div>

  <div id="questions-list">
		<% @questions.each do |question| %>
				<%= render question %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
		</div>
	</div>
<% else %>

	<%= render "teaser" %>
	
<% end %>
