<% if signed_in? %>

	<%= render 'questions/filters' %>


	<div id="questions-sidebar">

    <div class="perguntar box-sidebar">
      <%= link_to "Perguntar!", new_question_path, :class => "j-button" %>
    </div>

    <div class="box-sidebar">
      <h3>Categorias</h3>
      <% unless @categories.empty? %>
        <ul class="clearfix" id="side-categories">
        <% @categories.each do |category| %>
          <li><%= link_to category.name, categoria_path(category) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="box-sidebar">
      <h3>Últimas interações</h3>

    </div>

    <div class="box-sidebar">
      <h3>Twitter</h3>

    </div>

  </div>

  <div id="questions-list">
		<% @questions.each do |question| %>
				<%= render question %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
		</div>
	</div>
<% else %>
	<%= link_to "Cadastre-se", new_user_path %>
<% end %>
