
  <footer>
    <div>
      <ul>
				<li><%= link_to "Página inicial", root_path %></li>
				<% if not signed_in? %>
				<li><%= link_to "Login", login_path %></li>
				<li><%= link_to "Cadastre-se", new_user_path %></li>
				<% end %>
    		 <li><%= link_to "Perguntas", perguntas_path %></li>
    		 <li><%= link_to "Categorias", categorias_path %></li>
    		 <li><%= link_to "Sobre", about_path %></li>
        <li><%= link_to "Ajuda", help_path %></li>
        <li class="last"><%= link_to "Fale Conosco", contact_path %></li>
      </ul>

      <span>
         <p id="copyright"><strong>Funfou?</strong> &copy;Copyright 2011 Funfou.com.br - Todos os direitos reservados.</p>
      </span>
    </div>
  </footer>
