
  <footer>
    <ul>
      <li><%= link_to "P치gina inicial", root_path %></li>
			 <li><%= link_to "Usu치rios", users_path %></li>
			 <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Ajuda", help_path %></li>
      <li class="last"><%= link_to "Fale Conosco", contact_path %></li>
    </ul>

<<<<<<< HEAD
=======
       <ul>
         <li><%= link_to "P치gina inicial", root_path %></li>
				 <li><%= link_to "Usu치rios", users_path %></li>
				 <li><%= link_to "Sobre", sobre_path %></li>
         <li><%= link_to "Ajuda", ajuda_path %></li>
         <li><%= link_to "Contato", contact_path %></li>
       </ul>
>>>>>>> 77059577bf768c30d7a85d1a4371d233844f48d8

    <div>

       <p id="copyright"><strong>Funfou?</strong> &copy;Copyright 2011 Funfou.com.br - Todos os direitos reservados. Desenvolvido por <a href="http://www.daviferreira.com/">Davi Ferreira</a>.</p>
    </div>
    
  </footer>
