
  <footer>
    <ul>
      <li><%= link_to "Página inicial", root_path %></li>
			 <li><%= link_to "Usuários", users_path %></li>
			 <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Ajuda", help_path %></li>
      <li class="last"><%= link_to "Fale Conosco", contact_path %></li>
    </ul>


    <div>

       <p id="copyright"><strong>Funfou?</strong> &copy;Copyright 2011 Funfou.com.br - Todos os direitos reservados. Desenvolvido por <a href="http://www.daviferreira.com/">Davi Ferreira</a>.</p>
    </div>
    
  </footer>
