
<% if signed_in? %>
<div id="account-info">
  <%= gravatar_for current_user, :size => 30 %>
  <p>Boa tarde, <%= link_to current_user.name, current_user %></p>
	<p><%= link_to "Favoritos", "#" %></p>
  <p><%= link_to "Meus dados", edit_user_path(current_user) %></p>
  <p><%= link_to "Sair", sair_path, :method => :delete %></p>
</div>
<% else %>
  <div class="info">
      <p>Boa tarde. <%= link_to "Crie uma conta", cadastro_path %> (leva menos de 10 segundos!) para ter acesso a todos os recursos do <strong>Funfou</strong> ou <%= link_to "efetue login", login_path %>.</p>
  </div>
  <% end %>

<header>
    <div id="search">
        <form id="frm-search" action="#" method="GET">
            <input type="text" id="fld-search" name="keywords" value="Pesquisar..." />
            <input type="submit" value="OK" id="btn-search" />
        </form>
    </div>
    <!-- h1><%= link_to "Funfou", root_path %></h1 -->
</header>
