<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="" />
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <div id="container">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
