<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="Site de perguntas e respostas para programadores e profissionais da área de TI." />
    <meta name="google-site-verification" content="ch_5fYHYu68auffh0bPWEHY74zAkEu1pFf0W-tDPJyI" />
    <%= csrf_meta_tag %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "jquery-ui-1.8.11.custom.min" %>
		<%= javascript_include_tag "custom" %>
		<%= javascript_include_tag "jquery.snippet.min" %>
		<%= javascript_include_tag "jquery.tweet" %>
		<%= javascript_include_tag "tag-it" %>
		<%= render 'layouts/stylesheets' %>
		<%= auto_discovery_link_tag(:atom, {:controller => "questions", :action => "feed"}) %>
		<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22567795-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <section id="content" class="clearfix">
      <%= render "layouts/breadcrumb" %>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
      <div id="debug">
        <%= debug(params)  %>
      </div>
    <% end %>
  </body>
</html>
